<!DOCTYPE html>
<html>
<head>
    <title>Registro de Usuario</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background: linear-gradient(to right, #00b09b, #96c93d); /* Utiliza el mismo gradiente que en el dashboard */
            color: white;
            text-align: center;
            padding: 50px;
        }

        form {
            background: rgba(255, 255, 255, 0.9); /* Fondo blanco semi-transparente */
            margin: auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: inline-block;
            color: #333;
        }

        input[type=text],
        input[type=password],
        input[type=email] {
            width: calc(100% - 22px);
            padding: 10px;
            margin-top: 5px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        input[type=submit] {
            background-color: #00b09b; /* Cambia el color del botón a verde */
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        input[type=submit]:hover {
            background-color: #96c93d; /* Cambia el color al pasar el ratón a un tono más oscuro de verde */
        }

        label {
            display: block;
            margin-top: 20px;
        }

        a {
            color: #ffffff; /* Color blanco para el texto */
            background-color: #00b09b; /* Cambia el fondo a verde */
            padding: 8px 15px; /* Espaciado interno para hacerlo más grande */
            text-decoration: none; /* Eliminar subrayado de enlaces */
            border-radius: 5px; /* Bordes redondeados */
            transition: background-color 0.3s; /* Transición suave para el color de fondo */
        }

        a:hover {
            background-color: #96c93d; /* Cambia el color al pasar el ratón a un tono más oscuro de verde */
        }
    </style>
</head>
<body>
    <strong><a href="/users/login">Regresar al login</a></strong>
    <h1>Registro de Usuario</h1>
    <form action="/users/register" method="post">
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="email">Correo Electrónico:</label>
        <input type="email" id="email" name="email" required><br>

        <input type="submit" value="Registrar">
    </form>
</body>
</html>
